 <html>
<head>
</head>
<body>
<div class="modal-header">
<a class="close" data-dismiss="alert" aria-label="close" ng-click="close()"><i class="fa fa-times"></i></a>
<h4 class="modal-title"><i class="fa fa-dollar"></i> Pay Thirdparty Sticker with receipt #{{data.invoice_id}}</h4> 
</div>
<div class="modal-body">

<form class="form-horizontal" enctype="multipart/form-data" name="pay"> 
		
        <!-- <div class="line line-dashed b-b line-lg pull-in"></div> -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Select Payments</label>
          <div class="col-sm-9">
            <div class="btn-group m-r">
              <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'cash'"><img src="assets/images/cash.jpg" height="30" width="30" />Cash</label>
              <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'mtnmobile'" ><img src="assets/images/mtn.jpg" height="30" width="30" />MTN Pay</label> 
              <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'airtelmobile'" ><img src="assets/images/airtel.jpg" height="30" width="30" />Airtel Pay</label> 
              <!-- <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'visa'" ><img src="app/img/visa.jpg" height="30" width="30" />VISA</label>  -->
              <!-- <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'paypal'" ><img src="app/img/paypal.jpg" height="30" width="30" />PayPal</label>  -->
              <!-- <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'master'" ><img src="app/img/mastercard.jpg" height="30" width="30" />MasterCard</label>   -->
              <!-- <label class="btn btn-default" ng-model="data.payment_method" btn-radio="'bank'" ><img src="app/img/bank.jpg" height="30" width="30" />Bank</label>   -->
			  <input type="text" placeholder="Enter mobile no eg 256752000111" class="form-control" ng-model="user_telephone" ng-if="data.payment_method=='mtnmobile' || data.payment_method=='airtelmobile'"/>
			  <button class="btn btn-primary" ng-if="data.payment_method=='mtnmobile' || data.payment_method=='airtelmobile'" ng-click="initiatePay(user_telephone,data.total_amount,data.invoice_id)">Initiate {{data.payment_method | uppercase}} Payment</button>
            </div>
			<input type="hidden" class="form-control" ng-model="data.invoice_id" required />  
          </div>
        </div> 
		 
         
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Total Amount</label>
          <div class="col-sm-9">
            <strong>{{data.total_amount | number:0}} {{data.currency}}</strong> 
          </div>
        </div> 
		 
          
		<!-- {{data | json}}	 -->
        <div class="line line-dashed b-b line-lg pull-in"></div>
				
				<div class="form-group" ng-if="data.payment_method=='cash' || data.status=='ok'">
					<div class="col-sm-offset-3 col-sm-9">
						 
						<button class="btn btn-primary" ng-disabled="pay.$invalid" ng-click="pay_Thirdparty(data)">
							<i class="fa fa-dollar"></i> Make Payments
						</button> 
						<!-- {{data | json}} -->
					</div>
				</div>   
				
</form>
 

</div>
</body>
</html>